@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  .wrapper {
    @include wrapper;
    justify-content: flex-start;
    .button {
      background-color: $color-background-color;
      color: $color-text-light;
      width: 40px;
      height: 40px;
      margin: $base-size;
    }
    .input {
      width: 50px;
      height: 40px;
      text-align: center;
    }
  }
}
