@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  color: $color-text-dark;
  .container {
    margin: 20px auto;

    .title {
      text-align: center;
      padding: $base-size;
    }
    .reservation {
      @include wrapper;
      text-align: center;
      color: $color-text-dark;
      &__item {
        @include wrapper;
        padding: $base-size;
        .hero {
          margin: 0 auto;
          .image {
            @include image;
            margin: 0 $base-size;
            padding: $base-size;
            border: $color-background-light solid 2px;
          }
        }
        .date {
          margin: 0 auto;
        }
        .counter {
          margin: 0 auto;
        }
        .price {
          margin: 0 auto;
          > p:nth-child(2) {
            font-weight: 500;
          }
        }
        .icon {
          margin: $base-size * 2;
          font-size: $base-size * 1.5;
          &:hover {
            transform: scale(1.5);
            transition: $transition;
          }
        }
      }
    }
    .message {
      margin: $base-size;
      &__item {
        @include wrapper;
        .textfield {
          margin: 0 auto;
          width: 80%;
          padding: $base-size;
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .image {
    margin: 0 auto !important;
  }
  .message {
    .textfield {
      width: 100% !important;
    }
  }
}
@media (max-width: 425px) {
  .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      margin: 0 5px !important;
    }
    .icon {
      margin: 0 0 0 10px !important;
      padding: 0 !important;
    }
  }
}
