@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  @include container;
  color: $color-text-dark;
  .element {
    padding: $base-size 0;
    @include wrapper;
    justify-content: center;
  }
  .photoWrapper {
    height: 300px;
    position: relative;
    margin-bottom: $base-size * 2;
    img {
      @include image;
    }
  }
}
