@import "../../../styles/settings.scss";

.root {
  .carousel__description {
    color: $color-text-light;
  }
}
@media (max-width: 700px) {
  .carousel__description {
    bottom: 10%;
    h1 {
      font-size: $base-size * 1.5;
    }
    h4 {
      font-size: $base-size;
    }
  }
}

@media (max-width: 450px) {
  .carousel__description {
    bottom: 5% !important;
    h1 {
      font-size: $base-size * 1.5;
    }
    h4 {
      font-size: $base-size;
    }
  }
}

@media (min-width: 700px) {
  .carousel__image {
    height: 70vh;
  }
}
