@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  .description {
    @include wrapper;
    @include container;
    color: $color-text-dark;
    padding: $base-size;
    &__title {
      padding: $base-size 0;
    }
    &__button {
      background-color: $color-background-color;
      padding: $base-size;
      margin-bottom: $base-size;
      .link {
        @include link;
        color: $color-text-light;
        font-family: bold;
      }
    }
    &__subtitle {
      padding: $base-size;
      text-align: justify;
    }
  }
}

@media (max-width: 600px) {
  .description {
    &__button {
      order: 3;
    }
  }
}
