@import "../../../styles/settings.scss";

.root {
  padding: $base-size * 2;
  .title {
    color: $color-error;
  }
  .button {
    margin: 0 auto;
    background-color: $color-background-light;
    padding: $base-size;
    color: $color-text-dark;
    font-family: bold;
    &:hover {
      transform: scale(1.2);
      transition: $transition;
    }
  }
}
