@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* Colors */
/* Fonts */
/* Transition */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* Colors */
/* Fonts */
/* Transition */
.root {
  background-color: #f2c460;
}

.root .footer {
  margin: 0 auto;
  max-width: 1180px;
  padding: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f5f5f5;
}

.root .footer__top__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.root .footer__top__title p {
  margin: 0 auto;
  font-size: 24px;
  padding: 18px;
}

.root .footer__top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.root .footer__top__inner__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .footer__top__inner__col > p:nth-child(2) {
  font-weight: bold;
}

.root .footer__top__inner__col .link {
  text-decoration: none;
}

.root .footer__top__inner__col .icon {
  font-size: 18px;
  color: #f5f5f5;
  margin: 5px;
}

.root .footer__top__inner__col .icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.root .footer__neewsletter {
  padding: 18px;
}

.root .footer__neewsletter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .footer__neewsletter__inner__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.root .footer__neewsletter__inner__col > p:first-child {
  font-weight: bold;
}

.root .footer__neewsletter__inner__col .input {
  height: 35px;
  border: none;
  border-radius: 5%;
  width: 100%;
}

.root .footer__neewsletter__inner__col .button {
  width: 100%;
  font-weight: bold;
  margin: 12px 0;
}
/*# sourceMappingURL=Footer.module.css.map */